#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

/* InputScreen Styles */
header {
  display: flex;
  align-items: center;
}

label {
  display: block;
}

input {
  background-color: #EFEFEF;
  border: none;
  border-radius: 5px;
  padding: 12px;
}

.container {
  margin: 0px 10px;
}

.protein-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  gap: 8px;
}

.protein-list-item {
  background-color: white;
  border: solid 1.5px #EFEFEF;
  padding: 8px 12px;
  border-radius: 30px;
  text-align: center;
}

.submit-btn {
  background-color: black;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

/* StatScreen Styles */
.pieChartArea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}